# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.course-backend.iml
# Datasource local storage ignored files
/../../../../../../../../:\Learning\C#\coursees-backend\course-backend\.idea\.idea.course-backend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
